.back{
    width:88px; 
    height:118px;
    position:fixed;
    bottom:5px;
    right:20px;
    font-size:3em;
    cursor: pointer;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.back:hover{
    font-size:4em;
}