@import '~antd/dist/antd.css';


.news{
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 50%;
}

.news:hover{
  background: #001529;
  color: white;
  box-shadow: 0px 0px 0px 10px #001529;
  border: none;
}

.title{
  font-size: 18px;
}

.info{
  font-size: 14px; 
  display: flex; 
  margin-left: 10px;
  opacity: 0.5;
  justify-content: space-between;
}


