.item {
    display: flex;
    margin-left: 2em;
    position: relative;
    top:10px;
}

.item_info{
    margin-left: 50px;
}

.update{
    margin-left: 10px;
    color:#001529;
    background: white;
    cursor: pointer;
}

.update:hover{
    background: #001529;
    color:white;
    box-shadow: 0px 0px 0px 10px #001529;
    border:none;
}